bnlp-toolkit
click 
colorama
cython
gensim==4.0.1
importlib-metadata
joblib
nltk 
numpy
pandas
python-crfsuite
python-dateutil
pytz
regex
scipy
sentencepiece
six
sklearn-crfsuite 
smart-open
tabulate
tqdm
typing-extensions 
wasabi 
zipp
